body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    margin: 50px auto;
    width: 400px;
}

h1 {
    color: #333;
}

#health-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#enemy-health-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.2);
}

#enemy-health {
    height: 100%;
    width: 100%;
    background-color: red;
}

#player-health-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 255, 0, 0.7);
}

#player-health {
    height: 100%;
    width: 100%;
    background-color: green;
}



#game-log {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

#attack-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}
